body{
    background: darkorange;
}

#div_main{
    background-image: url("./res/bg_desert.png");
}

#div_canvas_main {
    height:506px;
    width:746px;
    border: 3px solid black;
    background: lightblue;
    margin: 0 auto;
}
#div_dialog_left{
    float:left;
    margin-left: 12px;
}
#div_panel_right{
    float:right;
    margin-right: 5%;
}
#button_reg{
    height: 30px;
    width: 30px;
}

#dialog_window{
    background: darkgrey;
    border: none;
    resize: none;
    border-radius: 50px;
    text-align:center;
    font-size:14px;
    color: black;
}

#canvas {
    height: 482px;
    width: 722px;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
}